<%= ul_nav [
  ['<i class="fa fa-dashboard"></i> Cumulative totals', 'cumulative_totals'],  
  ['<i class="fa fa-users"></i> Groups', 'groups'],  
  ['<i class="fa fa-briefcase"></i> Organisations', 'organisations'],  
  ], prefix: '/analytics/', ul_class: 'nav nav-tabs'
%>

<script>
  $(function () {
    $(".datepicker").datepicker({format: 'dd-M-yyyy', autoclose: true});
  });
</script>
<form class="form-inline my-3">
  <input type="text" class="form-control datepicker mr-1" name="from" value="<%=@from.strftime('%d-%b-%Y')%>"/>
  &ndash;
  <input type="text" class="form-control datepicker mx-1" name="to" value="<%=@to.strftime('%d-%b-%Y')%>"/>
  <button class="btn btn-primary mr-1">Get data</button>
  <% if @csv %> <a class="btn btn-primary" href="<%=request.url.gsub('/groups','/groups.csv')%>"><i class="fa fa-download"></i> Download as CSV</a> <% end %>
</form>