<div class="card">
  <h3 class="card-header" style="font-size: 26px; text-transform: uppercase">Location</h3>
  <div class="card-body" style="padding: 0; margin: 0">
    <style>#map-canvas { height: 50vh !important }</style>
    <%= partial :'maps/map', :locals => {:points => points} %>          
  </div>
</div>