<div class="row justify-content-between mb-1">
  <div class="col">
    <h1 style="margin-top: 0">Organisations</h1>
  </div>
  <div class="col-auto">
    <a class="btn btn-primary" href="/organisations/new"><i class="fa fa-plus"></i> List an organisation</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= partial :'organisations/list' %>
  </div>
</div>
