
<div>
  <a style="float: right" class="btn btn-primary" href="/events/new"><i class="fa fa-plus"></i> <%=I18n.t(:add_an_event).capitalize%></a>
  <a style="float: right; margin-right: 5px" class="btn btn-secondary" href="/events?view=calendar" ><i class="fa fa-calendar"></i> Calendar view</a>
  <h1 style="margin-top: 0"><%=I18n.t(:events).capitalize%></h1>
</div>

<style>
  #events h3 { font-size: 22px; line-height: 150%; margin-bottom: 8px; margin-top: 0 }
</style>
<div id="events">
  <% Event.future.each { |event| %>
    <hr />
    <%= partial :'events/minimal', :locals => {:event => event} %>
  <% } %>
</div>

<% if current_account %>
  <%= partial :'events/ical_instructions' %>
<% end %>

