$primary: colors('primary');
$primary-dark: darken($primary, 15%);
$primary-contrast: colors('primary-contrast');
$secondary: colors('secondary');
$secondary-dark: darken($secondary, 15%);
$grey-light: colors('grey-light');
$grey-mid: colors('grey-mid');
$dark: colors('dark');
$dark-light: lighten($dark, 40%);
$dark-contrast: colors('dark-contrast');
$headerFont: 'Raleway';
$bodyFont: 'Raleway';

@import "bootstrap/bootstrap";