
<style>
  #cover h1 a { color: rgb(33, 37, 41); }
</style>

<div id="cover" class="row justify-content-between">
  <div class="col">
    <div class="row">
      <% cover_left_left = yield_content :cover_left_left; if !cover_left_left.blank? %>
        <div class="col-auto">
          <%= cover_left_left %>
        </div>
      <% end %>
      <div class="col">
        <%= yield_content :cover_left_right %>
      </div>
    </div>
  </div>
  <div class="col-auto">
    <%= yield_content :cover_right %>         
  </div>  
</div>