<nav class="navbar fixed-top navbar-dark navbar-expand-lg bg-dark" role="navigation">
  <a class="navbar-brand" href="/"><%= Fragment.find_by(slug: 'navbar-brand') ? eval(f('navbar-brand')) : Config['SITE_NAME']%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse"> 

    <%=
    ul_nav [
      [I18n.t(:people).capitalize, '/people'],
      [I18n.t(:organisations).capitalize, '/organisations'],
      [I18n.t(:events).capitalize, '/events'],          
      ['Groups',         
        [[I18n.t(:all_groups).capitalize, '/groups'], []] + (current_account ? current_account.memberships.map(&:group).sort_by { |group| group.name.downcase.naturalized }.map { |group| [group.name, "/groups/#{group.slug}"] } : [])
        ],        
      ], ul_class: 'navbar-nav'
  %>    

    <%=
    ul_nav [             
      (["Hello #{current_account.firstname}",         
          [
            ['My profile', '/me'],
            [I18n.t(:edit_profile).capitalize, '/me/edit'],
            [I18n.t(:sign_out).capitalize, '/sign_out']
          ]
          ] if current_account),
      (['Sign up', '/sign_up'] if !current_account),
      ([I18n.t(:sign_in).capitalize, '/sign_in'] if !current_account)
      ], ul_class: 'navbar-nav ml-auto'
  %>    

  </div>
</nav>