<nav class="navbar navbar-light navbar-expand-lg" role="navigation">
  <a class="navbar-brand" href="/"><%=Config['SITE_NAME']%></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-collapse"> 

    <%=
    ul_nav [
      [I18n.t(:people).capitalize, '/people'],
      [I18n.t(:organisations).capitalize, '/organisations'],
      [I18n.t(:events).capitalize, '/events'],          
      ['Groups',         
        (current_account ? current_account.memberships.map(&:group).reject { |group| group.hide_from_dropdown }.sort_by(&:name).map { |group| [group.name, "/groups/#{group.slug}"] } : []) + [[], [I18n.t(:all_groups).capitalize, '/groups']]
        ],        
      ], ul_class: 'navbar-nav'
  %>    

    <%=
    ul_nav [       
      if current_account
        ["Hello #{current_account.firstname}",         
          [
            ['My profile', '/me'],
            [I18n.t(:edit_profile).capitalize, '/me/edit'],
            [I18n.t(:sign_out).capitalize, '/sign_out']
          ]
        ] else
        [I18n.t(:sign_in).capitalize, '/sign_in']
      end
      ], ul_class: 'navbar-nav ml-auto'
  %>    

  </div>
</nav>