
<% if (slides = Slide.where(:series.in => [nil, 'signed-in'])).count > 0 %>
  <%= partial :carousel, :locals => {:slides => slides} %>
<% end %>

<script>
  $(function () {
    $('#map').load('/map?<%= {form: true, global: true, accounts: true, events: true, organisations: true}.to_query %>')
  });
</script>
<style>
  @media(min-width: 768px) {
    #map { height: 80vh }
  }
</style>
<div id="map"><i class="fa fa-spin fa-spinner"></i></div>
